Sales Prediction with Logistics Regression

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Load Dataset
data = pd.read_csv("DigitalAd_dataset.csv")
data.head()

   Age  Salary  Status
0   18   82000       0
1   29   80000       0
2   47   25000       1
3   45   26000       1
4   46   28000       1

In [3]:
# Summarize Dataset
data.shape

(400, 3)

In [4]:
data.describe()

              Age         Salary      Status
count  400.000000     400.000000  400.000000
mean    37.655000   69742.500000    0.357500
std     10.482877   34096.960282    0.479864
min     18.000000   15000.000000    0.000000
25%     29.750000   43000.000000    0.000000
50%     37.000000   70000.000000    0.000000
75%     46.000000   88000.000000    1.000000
max     60.000000  150000.000000    1.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     400 non-null    int64
 1   Salary  400 non-null    int64
 2   Status  400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

In [6]:
# Segregate Dataset into X(Input/Independent variables) and Y(Output/Dependent variables)
X =data[['Age','Salary']]
Y = data[['Status']]

In [7]:
print(X.head())
print(Y.head())

   Age  Salary
0   18   82000
1   29   80000
2   47   25000
3   45   26000
4   46   28000
   Status
0       0
1       0
2       1
3       1
4       1

In [8]:
# Splitting Dataset into Train and Test
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=0,test_size=0.25)

In [9]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
# Training
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state = 0)
model.fit(X_train,np.ravel(Y_train))

LogisticRegression(random_state=0)

In [11]:
# Predicting wheather new customers with Age and Salary will Buy or not
Age = int(input("Enter new Customers Age: "))
Salary = int(input("Enter new Customers Salary: "))
newCust = [[Age,Salary]]
Status = model.predict(sc.transform(newCust))
print(Status)
if Status==1:
    print("Customer will Buy")
else:
    print("Customer will not Buy")

Enter new Customers Age:  51
Enter new Customers Salary:  32000

[1]
Customer will Buy

C:\Users\soura\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [12]:
# Prediction for all Test Data
y_pred = model.predict(X_test)

In [13]:
# Evaluating Model - Confusion Matrix
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(Y_test,y_pred)
print("Confusion Matrix: ")
print(cm)

print(accuracy_score(Y_test,y_pred)*100)

Confusion Matrix:
[[61  0]
 [20 19]]
80.0